.float{
	float:left;

}

h1{
	font-weight: bold;
	font-size: 40px;
}

img{

	float:left;
}

div#content{
	/*background-color: blue;*/
	width:50%;
}

button {

	color: orange;
	float:left;

}

.box{
	float:left;
	width:80px;
}

table {

	/*border: 1000px;*/

	background-color: green;
	font-family: arial;
	border-radius: 5px;
	color:white;
}

td.scoredata:hover{

	border-color:red;
}

button, #rollButton {
	border-radius: 5px;
}